body {
	background: #eee;
	margin: 0px;
}

canvas {
	background: #fff;
	cursor: crosshair;
	display: block;
	margin: 0px auto 0px;
}

.bar {
	background: #888;
	box-sizing: border-box;
	color: #fff;
	display: block;
	height: 50px;
	margin: 0px auto;
	width: 800px;
}

.bar * {
	display: inline-block;
}

#clientsBar {
	margin-top: 30px;
}

.button {
	background: #fff;
	border-radius: 15px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font: 16px Helvetica, Arial, sans-serif;
	height: 30px;
	line-height: 30px;
	margin: 10px;
	text-align: center;
	transition: opacity .2s;
}

.button:hover {
	opacity: .8;
}

#erase {
	float: left;
	width: 60px;
}

.thickness {
	float: left;
	width: 30px;
}

#thicknessIndicator {
	color: #fff;
	float: left;
	font: 16px Helvetica, Arial, sans-serif;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 30px;
}

#color {
	border: 0;
	box-shadow: none;
	float: right;
	width: 60px;
}

#clientsBar {
	padding: 5px;
}

#primary {
	border: 5px solid #fff;
}

#others {
	float: right;
}

#others .client {
	border: 5px solid #aaa;
}

.client {
	box-sizing: border-box;
	height: 40px;
	position: relative;
	width: 40px;
}

.icon {
	height: 30px;
}

.tooltip {
	color: #fff;
	background: #000;
	border-radius: 5px;
	font: 14px Helvetica, Arial, sans-serif;
	left: calc(-50% - 30px);
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 40px;
	visibility: hidden;
	width: 100px;
	z-index: 99;
}

.tooltip::after {
	border-color: transparent transparent black transparent;
  border-style: solid;
	border-width: 5px;
	bottom: 100%;
	content: "";
	left: 50%;
	margin-left: -5px;
  position: absolute;
}

.client:hover .tooltip {
	visibility: visible;
}
